{{ define "main" }}
  <main class="container">
    <header>
      <h1>{{ .Title }}</h1>

      <span id="title-break"></span>

      <h4>❮ Christianity doesn't have to be logicless ❯</h4>
    </header>

    <br>

    <div class="mini-boxes-container">
      <button onclick="window.location.href='/meta/intro';" class="box mini-box">
        <svg class="box-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line>
        </svg>

        <p class="box-text">Introduction</p>
      </button>
      <button onclick="window.location.href='/meta/about';" class="box mini-box">
        <svg class="box-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>

        <p class="box-text">About</p>
      </button>
      <button onclick="window.location.href='/posts';" class="box mini-box">
        <svg class="box-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-compass"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon>
        </svg>

        <p class="box-text">Directory</p>
      </button>
      
    </div>

    <br>

    <div>
      <h4 id="recent-posts-text">⬇ Recent Posts ⬇</h4>

      {{ range first 3 .Site.RegularPages }}
          {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>
{{ end }}